* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #2A0000;
  color: #DCCFC4;
}

ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

li {
  margin-right: 15px;
}

nav {
  display: flex;
}

/* Seção Inicial (cabeçalho) */
  
.tela-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
header {
  background-color: #2a0000;
  width: 100%;
}
  
.conteudo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: right;
}
  
header h3 {
  font-family: "MonteCarlo", serif;
  font-weight: 400;
  font-size: 30px;
  margin: 5px 0 0 20px;
}
  
nav {
  margin-top: 13px;
}

nav a {
  margin: 0 40px;
  color: #dccfc4;
  font-weight: 300;
  text-decoration: none;
  transition: 0.4s ease;

}

nav li {
  margin-top: 11px;
}

nav a:hover{
  color: #713838;
  font-weight: 500;
}
  
.carrinho {
  width: 20px;
  margin-top: 13px;
}

.usericon {
  width: 25px;
  margin-left: -9px;
  margin-top: 8px;
  margin-right: 5px;
}

/* Seção Principal */
  
.secao-principal {
  width: 100%;
  text-align: center;
}

.pt1 {
  height: 520px;
}

.secao-principal h1, h2{
  font-family: "Literata", serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 163.35px;
  text-align: center;
  padding-left: 300px;
  line-height: 1.35;
}

.secao-principal h1{
  margin-top: 39px;
}
  
.espaguete {
  width: 590px;
  overflow: hidden;
  margin-right: 390px;
}
  
/* Seção Restaurante */

.retangulo {
  background-color: #02020e;
  width: 100%;
}

.aboutUs {
  height: 600px;
}

.about {
  font-family: "Literata", serif;
  font-size: 30px;
  padding-top: 70px;
  font-weight: 400;
  padding-left: 58px;
}

.section__abt {
  display: flex;
}

.imagem-restaurante {
  width: 450px;
  height: 471px;
  margin-left: 60px;
}

.section__abt p {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  line-height: 1.7;
  text-align: justify;
}

/* Secão menu */
  
.menu {
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-title {
  font-family: "Literata", serif;
  font-size: 35px;
  padding-top: 70px;
  font-weight: 300;
  display: flex;
  align-items: start;
  margin-left: 310px;
  margin-bottom: -60px;
}

.list-item-name, .list-item-value {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: justify;
  font-weight: 600;
  font-size: 20px;
}

.list-item-name {
  margin-right: 120px;
}

.menu ul {
  display: flex;
  margin-right: 130px;
}

.imagem-vinho {
  width: 400px;
  opacity: 60%;
}

/* Seção Frase */

.content_frase {
  height: 680px;
  background-image: url(./assets/images/massa.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #DCCFC4; 
  padding: 20px;
}

h3 {
  font-family: "Literata", serif;
  font-size: 37px;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
  margin: 0 130px 0 120px;
  line-height: 1.5;
}



/* Seção Reserva */
  
.reserva {
  background-color: #02020e;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #DCCFC4;
}

.reserva h4 {
  Font-family: "Literata", serif;
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 30px;
}

.date__time {
  display: flex;
  width: 200px;
  height: 70px;
}

#reserva_data{
  margin-right: 15px;
}

.reserva input {
  width: 500px;
  display: flex;
  flex-direction: column;
}
  
.reserva input, .reserva input div {
  margin: 19px 0;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DCCFC4;
  outline: none;
  color: #DCCFC4;
  font-size: 16px;
  width: 445px;
}

.reserva input div {
  width: 100px;
}

  
button {
  width: 170px;
  height: 36px;
  padding: 8px;
  border: none;
  border-radius: 7px;
  background-color: rgba(13, 24, 43, 60%);
  color: #DCCFC4;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  cursor: pointer;
}

.reservar {
  margin-top: 40px;
  transition: 0.4s ease;
}

.reservar:hover {
  background-color: rgba(20, 33, 56, 0.9);
}

/* Seção Footer */
  
footer {
  background-color: #2a0000;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav_page {
  margin-left: 800px;
}

.nav_page a {
  margin-bottom: 20px;
  font-weight: 600;
}

.contatos {
  margin: 15px 25px 0 0;
}

.contato {
  width: 17px;
}

#whatsapp {
  margin-top: 13px;
}

footer .logo-riviera {
  width: 70px;
  height: 90px;
  object-fit: cover;
  margin: 10px 0 0 30px;
}


footer nav {
  display: flex;
  flex-direction: column;
}
  
footer nav a {
  color: #DCCFC4;
  font-weight: 400;
}
  

  
nav a {
  margin-right: 15px;
}
  

  

  
