* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #2A0000;
    color: #DCCFC4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-recuperacao {
    width: 500px;
    height: 500px;
    background-color: rgba(220, 207, 196, 17%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.container-recuperacao h2 {
    font-family: "Literata", serif;
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 13px;
}

input {
    background-color: rgba(217, 217, 217, 50%);
    border: none;
    padding: 9px;
    margin: 30px;
    width: 340px;
    border-radius: 9px;
    outline: none;
}

input::placeholder {
    color: rgba(0, 0, 0, 43%);
    font-size: 13px;
}

button {
    width: 170px;
    height: 36px;
    padding: 8px;
    border: none;
    border-radius: 7px;
    background-color: rgba(13, 24, 43, 60%);
    color: #DCCFC4;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    cursor: pointer;
}

.avancar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
    background-color: rgba(13, 24, 43, 60%);
    color: #DCCFC4;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: auto; 
    align-self: flex-end; 
    transition: 0.4s ease;
    margin-left: auto; 
}

.avancar:hover {
    background-color: rgba(13, 24, 43, 90%);
}

.enviar{
    transition: 0.4s ease;
}

.enviar:hover {
    background-color: rgba(13, 24, 43, 90%);
}

